<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<title>Cadastro de Professor</title>
</head>
<body>
<form method="POST" action="/homeProfessor">
    <div th:if="${professor}">
        <input type="hidden" name="id" th:value="${professor?.id}">
    </div>
    <div class="form-group" >
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" class="form-control" id="formGroupExampleInput" name="nome" th:value="${professor?.nome}">
    </div>
   
    <p></p>  
    <div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
  </form>
  </body>
</html>