<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<link rel="stylesheet" href="css/style.css">

<title>Lista de Estudantes</title>
</head>
<body>

  <main>
    <div class="top-content">
      <div class="nav-bar">
        <nav>
          <ul>
            <li><a href="/listEstudante">Estudantes</a></li>
            <li><a href="/listAula">Aulas</a></li>
            <li><a href="/listProfessor">Professores</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="table-content">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Sobrenome</th>
            <th scope="col ">Excluir</th>
            <th scope="col ">Editar</th>

            
          </tr>
        </thead>
        <tbody>
            <tr data-th-each="estudante: ${estudantes}" data>
                <td data-th-text="${estudante.id}"></td>
                <td data-th-text="${estudante.nome}"></td>
                <td data-th-text="${estudante.cpf}"></td>
                <td data-th-text="${estudante.sobrenome}"></td>
                <td><a class="btn" th:href="@{'/excluirEstudante/'+${estudante.id}}">Excluir</a></td>
                <td><a class="btn" th:href="@{'/editarEstudante/'+${estudante.id}}">Editar</a></td>

            </tr>             
        </tbody>        
      </table>    
      <a href="/homeEstudante">Cadastrar Estudante</a> 
</body>
</html>